<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JSM Accounter</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/boxicons.min.css" rel="stylesheet">
  <link href="/static/quill.snow.css" rel="stylesheet">
  <link href="/static/quill.bubble.css" rel="stylesheet">
  <link href="/static/remixicon.css" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/main_style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="/static/img/r_jsm_logo.png" alt="">
        <span class="d-none d-lg-block">Accounter</span>
      </a>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/static/img/User.png" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Mahin</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Mahin</h6>
              <span>MD</span>
            </li>
        
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Expenses Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <a href="https://bit.ly/3yPPxzf"><h5 class="card-title">Expenses <span> </span></h5></a>
                  <img src="/static/img/exp.png">
                </div>
              </div>
            </div><!-- End Expenses Card -->

            <!-- Income Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <a href="https://bit.ly/3G5SZaw"><h5 class="card-title">Income <span></span></h5></a>
                  <img src="/static/img/Income.png">    
                </div>
              </div>
            </div><!-- End Income Card -->

             <!-- Outstanding Expenses Card -->
             <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <a href="https://bit.ly/3NxY3ap"><h5 class="card-title">Outstanding Expenses <span></span></h5></a>
                  <img src="/static/img/oexp.png"> 
                </div>

              </div>
            </div><!-- End Outstanding Expenses Card -->

            
            <!-- Outstanding Income Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <a href="https://bit.ly/3wAZoGq"><h5 class="card-title">Outstanding Income <span></span></h5></a>
                  <img src="/static/img/oincome.png"> 
                </div>

              </div>
            </div><!-- End Outstanding Income Card -->

            

            <!-- Payroll Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <a href="https://bit.ly/3sLrCNK"><h5 class="card-title">Payroll <span></span></h5></a>
                  <img src="/static/img/pay.png">
                </div>
              </div>

            </div><!-- End Payroll Card -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
      
            <div class="card-body">
              <a href="https://bit.ly/3G8YmFP"><h5 class="card-title">Recent Activity <span></span></h5></a>
              <img src="/static/img/rc.png">
            </div>
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/stat/apexcharts.min.js"></script>
  <script src="/stat/bootstrap.bundle.min.js"></script>
  <script src="/stat/chart.min.js"></script>
  <script src="/stat/echarts.min.js"></script>
  <script src="/stat/quill.min.js"></script>
  <script src="/stat/simple-datatables.js"></script>
  <script src="stat/tinymce.min.js"></script>
  <script src="/stat/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="jst/main.js"></script>

</body>

</html>